version: 1

formatters:
    simple:
        format: '%(message)s'

handlers:
    console:
        class: logging.StreamHandler
        level: NOTSET
        formatter: simple
        stream: ext://sys.stdout

    clogfile:
        class: utils.cloghandler.ConcurrentRotatingFileHandler
        level: NOTSET
        maxBytes: 4194304
        backupCount: 10
        delay: true
        filename: '/dev/null'
        formatter: 'simple'

    weblogger_handler:
        class: utils.cloghandler.ConcurrentRotatingFileHandler
        level: NOTSET
        maxBytes: 2147483647
        backupCount: 2000
        delay: true
        filename: '/dev/null'
        formatter: simple

loggers:
    main:
        level: NOTSET
        handlers: [clogfile]
        propagate: yes

    weblogger:
        level: NOTSET
        handlers: [weblogger_handler]
        propagate: no

    weblogger2:
        level: NOTSET
        handlers: [weblogger_handler]
        propagate: no

    weblogger3:
        level: NOTSET
        handlers: [weblogger_handler]
        propagate: no

root:
    level: NOTSET
    handlers: [console]
