formatters:
  simple:
    format: '%(message)s'
handlers:
  clogfile:
    backupCount: 10
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    delay: true
    filename: /dev/null
    formatter: simple
    level: NOTSET
    maxBytes: 4194304
  console:
    class: logging.StreamHandler
    formatter: simple
    level: NOTSET
    stream: ext://sys.stdout
  weblogger_handler:
    backupCount: 2000
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    delay: true
    filename: /dev/null
    formatter: simple
    level: NOTSET
    maxBytes: 2147483647
loggers:
  main:
    handlers:
    - clogfile
    level: NOTSET
    propagate: true
  weblogger:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-1:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-2:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-3:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-4:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-5:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-6:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
  weblogger-7:
    handlers:
    - weblogger_handler
    level: NOTSET
    propagate: false
root:
  handlers:
  - console
  level: NOTSET
version: 1
